[submodule ".registry"]
	path = .registry
	url = https://github.com/dcr-unibe-ch/dcr-unibe-ch.r-universe.dev
	branch = HEAD
[submodule "presize"]
	path = presize
	url = https://github.com/dcr-unibe-ch/presize
