[submodule ".registry"]
	path = .registry
	url = https://github.com/dcr-unibe-ch/dcr-unibe-ch.r-universe.dev
	branch = HEAD
[submodule "CTUtemplate"]
	path = CTUtemplate
	url = https://github.com/dcr-unibe-ch/CTUtemplate
[submodule "accrualPlot"]
	path = accrualPlot
	url = https://github.com/dcr-unibe-ch/accrualPlot
[submodule "presize"]
	path = presize
	url = https://github.com/dcr-unibe-ch/presize
[submodule "randotools"]
	path = randotools
	url = https://github.com/dcr-unibe-ch/randotools
[submodule "redcaptools"]
	path = redcaptools
	url = https://github.com/dcr-unibe-ch/redcaptools
[submodule "svn"]
	path = svn
	url = https://github.com/dcr-unibe-ch/svn
[submodule "unibeCols"]
	path = unibeCols
	url = https://github.com/dcr-unibe-ch/unibeCols
